<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coders3.startc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Button_Activity" />
        <activity android:name=".Rishi_Activity" />
        <activity android:name=".Shiitake_Activity" />
        <activity android:name=".Oyster_Activity" />
        <activity android:name=".Button_introduction" />
        <activity android:name=".Button_Cultivation" />
        <activity android:name=".Button_products" />
        <activity android:name=".Reishi_Intoduction" />
        <activity android:name=".Reishi_Cultivation" />
        <activity android:name=".Reishi_Products" />
        <activity android:name=".Oyster_introduction" />
        <activity android:name=".Oyster_Cultivation" />
        <activity android:name=".Oyster_Products" />
        <activity android:name=".Shiitake_Introduction" />
        <activity android:name=".Shiitake_Cultivation" />
        <activity android:name=".Shiitake_Products" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>